.admin__config {
  margin: 50px 20px;

  &-view {
    h1 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }

    &__slider {
      margin: auto;
      margin-top: 20px;

      &-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &-list {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &__add {
          &-upload {
            display: flex;
            width: 250px;
            height: 200px;
            padding: 25px 50px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 2px dashed #000;
            background-color: rgb(155, 219, 235);
            cursor: pointer;
          }

          &-uploaded {
            position: relative;

            img {
              width: 250px;
              height: 200px;
              border-radius: 5px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              object-fit: cover;
            }

            &__close {
              position: absolute;
              top: -10px;
              right: -10px;
              border-radius: 50%;
              width: fit-content;
              padding: 5px;
              background-color: rgb(212, 64, 64);
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              transition: all 0.3s;

              &:hover {
                background-color: rgb(247, 28, 13);
              }
            }
          }
        }
      }
    }
  }
}
