.about {
  width: 100%;
  h1 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.4;
  }

  &__content {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 450px;

    &-detail {
      width: 100%;
      height: 55%;
      text-align: center;
      padding: 0 10px;

      h1 {
        margin-bottom: 30px;
        line-height: 2;
        text-transform: uppercase;
        font-size: x-large;
      }
    }
  }

  &__des {
    width: 100%;
    margin: auto;
    padding: 10px;

    &-banner {
      margin-top: -150px;
      margin-bottom: 150px;
      display: flex;
      justify-content: center;
      gap: 10px;

      &__out {
        border-radius: 24px;
        width: 250px;
        height: 300px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      &__in {
        border-radius: 24px;
        width: 400px;
        height: 300px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about__des-banner {
    &__out {
      width: 200px;
      height: 250px;
    }

    &__in {
      width: 350px;
      height: 250px;
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
    &__content {
      height: fit-content;
      margin-bottom: 30px;

      &-detail {
        height: fit-content;
        font-size: 15px;

        h1 {
          line-height: 1;
        }
      }
    }
    &__des-banner {
      &__out {
        width: 150px;
        height: 200px;
      }

      &__in {
        width: 250px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    h1 {
      font-size: 25px;
      line-height: 1;
      text-align: center;
    }

    &__content-detail {
      font-size: 15px;

      h1 {
        line-height: 1;
      }
    }
    &__des-banner {
      flex-direction: column;
      margin-top: 0;

      &__out {
        width: 100%;
        height: 250px;
      }

      &__in {
        width: 100%;
        height: 250px;
      }
    }
  }
}
