.dynamic__content {
  line-height: 1.6;

  img {
    margin: 30px;
    object-fit: fill;
    width: 1000px;
    height: 500px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  figure {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  th {
    padding: 10px;
    text-align: center;
    border: solid 1px #080808;
    font-size: large;
    font-weight: bold;
  }

  table,
  td,
  tr {
    padding: 10px;
    text-align: center;
    border: solid 1px #080808;
  }
}
