.product {
  width: 90%;
  margin: auto;
  padding: 3rem 0;

  &__container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 15% 85%;

    &-item {
      padding-left: 50px;

      &__search {
        padding: 8px;
        flex: 0 0 auto;
        border-radius: 50%;
        color: rgba(0, 0, 0, 0.54);
        transition: all 0.3s;
        margin-right: 5px;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        -webkit-box-pack: center;
        outline: 0;
        border: 0;
        margin: 0;
        user-select: none;
        vertical-align: middle;

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }

      &__sort {
        fieldset {
          border: none;
        }

        svg {
          transition: all 0.3s;
        }
      }

      &__pagination {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        button {
          font-size: 18px;
          font-weight: bold;
          transition: all 0.5s;

          &:hover {
            background-color: #0f1f3d;
            color: white;
          }
        }

        .Mui-selected {
          &:hover {
            background-color: #0f1f3d;
            color: white;
          }
          background-color: #0f1f3d !important;
          color: white !important;
        }
      }
    }

    &-category {
      background-color: #fbfbfb;
      height: 700px;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &__title {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        font-weight: bold;
      }

      &__container {
        padding: 0 20px;
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        font-weight: bold;

        &-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 10px;
          transition: all 0.3s;
          cursor: pointer;
          padding: 10px;

          &:hover {
            color: white;
            background-color: #0f1f3d;
          }
        }

        .selected {
          color: white;
          background-color: #0f1f3d;
        }
      }
    }
  }
}

.category__banner {
  &-image {
    border-radius: 20px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      width: 50%;
      margin: auto;
      padding: 2.5rem;

      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
    }
  }
}
