@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./card";
@import "./blog";
@import "./introduction";
@import "./partner";
@import "./product";
@import "./product-detail";
@import "./about";
@import "./dynamic-content";
@import "./news";
@import "./news-detail";
@import "./contact";
@import "./admin/login";
@import "./admin/menu-bar";
@import "./admin/product";
@import "./admin/category";
@import "./navbar";
@import "./home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Medium;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 10px;
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-black;
  }
  h2 {
    @apply text-xl;
    @apply font-extrabold;
  }
  h3 {
    @apply text-xs;
    @apply font-bold;
  }
}

@layer components {
  .common-background {
    background-color: #f3f4f6;
    opacity: 1;
  }

  .slider__image {
    width: 100%;
    height: 800px;
    max-height: 800px;
  }

  .partner__logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .divide {
    width: 100%;
    border: none;
    border-bottom: 2px solid #dfe2e9;

    margin-left: 50px;
    margin-right: 50px;
  }

  .breadcrumb__item {
    cursor: pointer;
    font-size: large !important;
    font-weight: bold !important;
    transition: 0.3s;

    &:hover {
      color: #0f1f3d;
    }
  }

  .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    button {
      font-size: 18px;
      font-weight: bold;
      transition: all 0.5s;

      &:hover {
        background-color: #0f1f3d;
        color: white;
      }
    }

    .Mui-selected {
      &:hover {
        background-color: #0f1f3d;
        color: white;
      }
      background-color: #0f1f3d !important;
      color: white !important;
    }
  }

  .h1-common {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.4;
  }

  .h1-common-sm {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
  }
}
